
<html><head></head>
<body>
<p><strong><font color="#000080" size="+1" face="Arial, Helvetica, sans-serif">::report_title::</font></strong></p>
<p><font color="#666666">Report Detail</font></p>
<table border="0" align="left" cellpadding="5" cellspacing="5" >

  <tr>
    <td width="120"><font color="#666666" size="-1" face="Courier New, Courier, monospace">Report Date: </font></td>
    <td width="600" bgcolor="#F7F7F7">::report_date::</td>
  </tr>

  <tr>
    <td width="120"><font color="#666666" size="-1" face="Courier New, Courier, monospace">Test Running: </font></td>
    <td width="600" bgcolor="#F7F7F7">::test_device::</td>
  </tr>
  
  <tr>
    <td width="120"><font color="#666666" size="-1" face="Courier New, Courier, monospace">Category Version: </font></td>
    <td width="600" bgcolor="#F7F7F7">::version_category::</td>
  </tr>
  
  <tr>
    <td width="120"><font color="#666666" size="-1" face="Courier New, Courier, monospace">Test Summary: </font></td>
    <td width="600" bgcolor="#F7F7F7">::test_summary::</td>
  </tr>
  
  <tr>
    <td width="120"><font color="#666666" size="-1" face="Courier New, Courier, monospace">Test Running: </font></td>
    <td width="600" bgcolor="#F7F7F7">::test_category::</td>
  </tr>

</table>


<font color="#1A196C"></font>
</body>
</html>
